.docs/
.archtect
.terraform/


.pre-commit*
.tflint*
.terraform*
terraform.tfstate.d/*

*.tfstate
*.tfstate.backup

.zip.zip

envs/dev.tfvars
envs/prod.tfvars

/bootstrap/remote-state.tf
/bootstrap/terraform.tfstate
/bootstrap/terraform.tfstate.backup

template.sh
